/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0988ff;
  --ifm-color-primary-dark: #0075e4;
  --ifm-color-primary-darker: #0068cd;
  --ifm-color-primary-darkest: #005ab6;
  --ifm-color-primary-light: #1f8ffe;
  --ifm-color-primary-lighter: #399dfe;
  --ifm-color-primary-lightest: #64b4ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #399dfe;
  --ifm-color-primary-dark: #1f8ffe;
  --ifm-color-primary-darker: #0988ff;
  --ifm-color-primary-darkest: #0075e4;
  --ifm-color-primary-light: #64b4ff;
  --ifm-color-primary-lighter: #9acfff;
  --ifm-color-primary-lightest: #cce9ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
